body{
    background-color: antiquewhite;
    background-image: url(../images/78869.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.nav-links a { 
    margin-right: 2em;
    color: rgb(235, 222, 222);
    text-decoration: navajowhite;
    font-family: Arial, Helvetica, sans-serif ;
}
a {
    margin-right: 2em;
    color: rgb(203, 216, 191);
    text-decoration: navajowhite;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
color: rgb(180, 245, 247);
text-transform: uppercase;
}
nav {
    padding: 0em 2em;
    text-align: right;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rosybrown;
    top: 0;
    left: 0;
    right: 0;
}
img{
    border-radius: 2em;
}
.tarqwa {
    margin-right: 100px;
}
.golf {
    margin-right: 100px;
}
header{
    margin: 100px 0px 40px 20px;
}
button{
    margin-bottom: 50px;
    margin-left: 20px;
    background-color: rgb(2, 122, 252);
    border-radius: 4px;
    box-shadow: rgb(182, 240, 255) 5px 5px 10px;
    margin-right: 0;
}
.search {
    width: 70%;
    margin: auto;
    position: relative;
    margin-top: 40px;
}

.search .searchbutton {
    background: transparent;
    width: 5%;
    padding: 5px 10px;
    position: absolute;
    left: 0px;
    border: 0;
    box-shadow: transparent 0px 0px 0px;
    margin-left: 3px;
}

.search .searchterm {
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #000;
    padding-left: 5%;
}
b{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}
footer{
    background-color: black;
    height: 40px;
}
#footer-text{
    color:white; 
    font-weight: 100; 
    padding-top: 7px;
}