body{
    background-color: antiquewhite;
    background-image: url(../images/1\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.nav-links a { 
    margin-right: 2em;
    color: rgb(235, 222, 222);
    text-decoration: navajowhite;
    font-family: Arial, Helvetica, sans-serif ;
}
a {
    margin-right: 2em;
    color: rgb(203, 216, 191);
    text-decoration: navajowhite;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

a:hover {
color: rgb(100, 250, 0);
text-transform: uppercase;
}
nav {
    padding: 0em 2em;
    text-align: right;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rosybrown;
    top: 0;
    left: 0;
    right: 0;
}
img{
    border-radius: 2em;
    margin-bottom: 8px;
}
.tarqwa {
    margin-right: 100px;
}
.golf {
    margin-right: 100px;
}
header{
    margin: 100px 0px 40px 20px;
}
h3{
    text-shadow: aliceblue 2px 2px 2px;
}
button{
    margin: 0px 0px 50px 50px;
    background-color: rgb(131, 47, 2, 0.8);
    border-radius: 20px;
    box-shadow: rgb(65, 53, 65) 2px 2px 5px;
    padding: 5px;
    
}
a.ann{
    margin-left: 30px;
}
.search {
    width: 70%;
    margin: auto;
    position: relative;
    margin-top: 40px;
}

.search .searchbutton {
    background: transparent;
    width: 5%;
    padding: 5px 10px;
    position: absolute;
    left: 0px;
    border: 0;
    box-shadow: transparent 0px 0px 0px;
    margin-left: 3px;
}

.search .searchterm {
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #000;
    padding-left: 5%;
}

p, b{
    margin: 7px 0px 7px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(187, 202, 172, 0.3);
    color: black;
    padding: 0px 10px 0px 10px;
   font-family: 'Backslash Regular' 'Alegreya';
  font-weight: 700;
  font-size: 17px;
}
p{
    min-height: 100px;
}
footer{
    background-color: black;
    height: 40px;
}
#footer-text{
    color:white; 
    font-weight: 100; 
    padding-top: 7px;
}